PORT=8000
MONGODB_URI=mongodb+srv://Ushine_user_db:<password>@cluster1.ge4zc45.mongodb.net/?appName=Cluster1
MONGODB_DNS_SERVERS=8.8.8.8,1.1.1.1
ACCESS_TOKEN_SECRET=someStrongSecretHere
REFRESH_TOKEN_SECRET=anotherStrongSecretHere
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
GMAIL = heykrish61@gmail.com
GMAIL_APP_PASSWORD = <password>